# Platform
CONFIG_KERNEL_CUSTOM_E7T=y

# Hall
CONFIG_INPUT_HALL_SENSOR_E7S=y

# Fingerprint
CONFIG_FINGERPRINT_GF3258=y

# Input
CONFIG_INPUT_HBTP_INPUT=y

# Touchscreen
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_CORE_v21 is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_v21 is not set
CONFIG_TOUCHSCREEN_NVT_A=y
CONFIG_TOUCHSCREEN_FOCAL_FT8719=y
