# Platform
CONFIG_KERNEL_CUSTOM_D2S=y

# Hall sensor
CONFIG_INPUT_HALL_SENSOR_E7S=y

# ANT CHECK
CONFIG_ANT_CHECK=y
CONFIG_KERNEL_DRIVER_D2S_CN=y

# Audio
CONFIG_SND_SOC_TAS2557=y
CONFIG_TAS2557_REGMAP=y
CONFIG_TAS2557_CODEC=y
CONFIG_TAS2557_MISC=y

# Fingerprint
CONFIG_FINGERPRINT_GF3208=y
CONFIG_FINGERPRINT_FPC1020=y

# Touchscreen
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_CORE_v21=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_FW_UPDATE_v21=y
CONFIG_TOUCHSCREEN_NVT_D2S=y

# Thermal
CONFIG_THERMAL_SWITCH=y
