# Platform
CONFIG_KERNEL_CUSTOM_E7S=y

# Hall
CONFIG_INPUT_HALL_SENSOR_E7S=y

# ANT CHECK
CONFIG_ANT_CHECK=y

# Audio
CONFIG_SND_SOC_TAS2557=y
CONFIG_TAS2557_REGMAP=y
CONFIG_TAS2557_CODEC=y
CONFIG_TAS2557_MISC=y

# Fingerprint
CONFIG_FINGERPRINT_GF3258=y

# Audio

# Touchscreen
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_E7S=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_E7S_I2C=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_E7S_CORE=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_E7S_RMI_DEV=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_E7S_FW_UPDATE=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_E7S_TEST_REPORTING=y
CONFIG_TOUCHSCREEN_SYNAPTICS_DSX_E7S_GESTURE=y
CONFIG_TOUCHSCREEN_NVT_E7S=y
