#
# fih driver
#

menu "fih driver"

config FIH_NV
	bool "fih nv"
	default y
	help
	  support fih nv virtual file

config FIH_APR
	bool "fih apr"
	default y
	help
	  support fih apr virtual file

config FIH_DEBUG
	bool "fih debug"
	default n
	help
	  enable fih debugging

endmenu
