menu "Power drivers for FIH devices"

config CHARGER_BQ25600_SLAVE
	tristate "TI BQ25600 battery charger slave driver"
	depends on I2C
	help
	  Say Y to enable support for the TI BQ25600 battery charger.

config WIRELESS_CHARGER_STWLC33
	bool "ST STWLC33 Wireless Charging control Driver"
	depends on I2C
	help
	  ST STWLC33 wireless charging control driver

config WIRELESS_CHARGER_P9221
	bool "IDT P9221 Wireless Charging control Driver"
	depends on I2C
	help
	  IDT P9221 wireless charging control driver

endmenu
